@tailwind base;
@tailwind components;
@tailwind utilities;



html{
  scroll-behavior: smooth ;
}

.nav-menu {
  align-items: center;
  gap: 0;
}
menu, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

input[type="radio"]{
  visibility:hidden;
}



@media (min-width: 992px) {
  .fundraiser-item a.title {
      font-size: 18px;
  }
}
.fundraiser-item a.title {
  margin-bottom: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  --tw-text-opacity: 1;
  text-decoration: underline;
}


.left-line{
  text-transform: uppercase;
  font-weight: 700;
  color: #303030;
  display: inline-block;
}

.left-line::before {
content: "";
width: 35px;
height: 2px;
background-color: #303030;
display: inline-block;
margin-right: 10px;
}

.right-line{
text-transform: uppercase;
font-weight: 700;
color: #303030;
display: inline-block;

}

.right-line::after {
content: "";
width: 35px;
height: 2px;
background-color: #303030;
display: inline-block;
margin-left: 10px;
}


#medical-li:hover>#medical-list{
  display: block !important;

}
#solutions-li:hover>#solutions-list{
  display: block !important;

}

#patient-li:hover>#patient-list{
  display: block !important;

}


.contactform input {
  width: 100%;
  height: 60px !important;
  padding: 0 20px !important ;
  border-radius: 4px !important;
  border: 1px solid #ECEEF3 !important;
  color: #303030 !important;
  font-size: 16px !important;
  outline: 0 !important;
  box-shadow: 0px 16px 24px rgba(189, 196, 205, 0.13 ) !important;
}

.contactform input:focus,.contactform textarea:focus{
  border: 1px solid #303030 !important;
  transition: all .3s ease-out;
}


.costum-bg::before{
    content: "";
    width: 100%;
    height: 100%;
    background-image: url('/images/shape-bg-05.png'), linear-gradient(to right, #0E73F6, #ffffff);
    background-blend-mode: overlay;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: .5;


}
.op{
  animation: op 0.2s linear;
  position: fixed;
}
@keyframes op {
  0%{
transform:translateY(-100%);
  }
  100%{
    transform:translateY(0);
  }
}

.items{
  border:solid 1px #ECEEF3;
  transition: all .3s ease-out;
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-direction: column;
  padding: 50px 25px 40px 25px;
  border-radius: 5px;
  width: 300px;
  background-color: white;
  margin-bottom: 25px;
}

.items:hover{
  border:solid 1px #e71d36
  
}


.search-form form .search-btn {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);

}

.search-btn {
  font-size: 15px;
  line-height: 1;
  font-weight: 700;
  padding: 25px 45px;
  background-color: #303030;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  text-transform: uppercase;
  color: #FFF;
  position: relative;
  overflow: hidden;
  z-index: 2;
  display: flex;
  align-items: center;
}
.search-btn:hover{
  background-color: #9F1C23;
  transition: all .3s linear ;

}

@media only screen and (max-width: 768px) {
  .search-form form .search-btn {
    position: initial;
    transform: translateY(20px);
  }
  .search-form form input {
    padding: 20px 25px ;

  }
  .search-form {
    padding: 0 !important;
  }

}

@media (min-width: 992px) {
  .nav-menu {
      display: flex;
  }
}


